{% extends "./guest/base.html" %}
{% block content %}
<style>
    .faq-item {
        padding: 20px;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
    .faq-question {
        font-weight: bold;
        margin-bottom: 10px;
    }
    .faq-answer {
        font-size: 16px;
        line-height: 1.6;
    }
</style>
<!-- FAQ Section -->
<section class="faq-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h2 class="section-title">Frequently Asked Questions</h2>
                <p class="section-subtitle">Find answers to the most commonly asked questions</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
               <h4 style="border: #f9f9f9;background-color: rgb(104, 107, 107);text-align: center;color: rgb(248, 246, 246);">CATEGORIES</h4>
               <br>
               <input type="text" id="categorySearch" onkeyup="filterCategories()" placeholder="Search for categories..." class="form-control mb-4">
               <div id="categoryList">
                {% for category in categories %}
                <div class="faq-item mb-4">
                  
                   <a href="{{ url_for('faq_category', category_name=category.name, ) }}"> <h5 class="faq-question text-primary">{{ category.name}}</h5></a>
                   
                </div>
                <hr>
                {% endfor %}
               </div>
            </div>
        </div>
    </div>
</section>


<script>
    // Function to filter categories based on search input
    function filterCategories() {
        var input, filter, categoryList, categories, i, txtValue;
        input = document.getElementById('categorySearch');
        filter = input.value.toLowerCase();
        categoryList = document.getElementById("categoryList");
        categories = categoryList.getElementsByClassName('faq-item');
    
        // Loop through all categories and hide those that don't match the search query
        for (i = 0; i < categories.length; i++) {
            txtValue = categories[i].textContent || categories[i].innerText;
            if (txtValue.toLowerCase().indexOf(filter) > -1) {
                categories[i].style.display = "";
            } else {
                categories[i].style.display = "none";
            }
        }
    }
    </script>
{% endblock %}